<h2>{{$ctrl.title}}</h2>

<section>
    <h3>Liste des lecteurs UPnP/DLNA</h3>
    <!--m1m-mediaRender-manager></m1m-mediaRender-manager-->
    <ul>
        <li ng-repeat="renderer in $ctrl.mediaRenderers">
            <details>
                <summary>{{renderer.name}}</summary>
                <!-- {{renderer | json}} -->

                <div>
                    <img ng-src="{{renderer.iconURL}}" ng-drop="true" ng-drop-success="$ctrl.loadMedia(renderer.id, $data.serverId, $data.mediaId)" alt="deviceIcon" style="width:200px; height:200px;" />
                    
                    <md-slider-container flex style="display:inline-block; margin-left:50px; -webkit-inline-box">
                    <md-input-container>
                        <input flex type="number" ng-model="vol" aria-label="volume" aria-controls="volume-slider" ng-change="$ctrl.setVolume(renderer.id, vol)">
                    </md-input-container>
                    <md-slider ng-model="vol" min="0" max="100" aria-label="volume" id="volume-slider" class="md-accent" md-vertical md-range ng-change="$ctrl.setVolume(renderer.id, vol)" style="margin-left:8px;"></md-slider>
                    
                    <h5 style="margin-left:8px;">Volume</h5>
                    </md-slider-container>

                    <hr style="width:200px; -webkit-margin-before: 0em; margin-left:0; margin-top:5px;">
                </div>

                <div>
                    <img ng-click="$ctrl.play(renderer.id)" ng-src="images/play.svg" style="width:50px; height:50px; " alt="playBtn"></img>
                    <img ng-click="$ctrl.pause(renderer.id)" ng-src="images/pause.svg" style="width:50px; height:50px; margin-left:16px;" alt="pauseBtn"></img>
                    <img ng-click="$ctrl.stop(renderer.id)" ng-src="images/stop.svg" style="width:50px; height:50px; margin-left:16px;" alt="stopBtn"></img>
                </div>
                
            </details>
        </li>
    </ul-->
</section>

<section>
    <h3>Liste des serveurs UPnP/DLNA</h3>
    <m1m-server-manager></m1m-server-manager>
    <!--ul>
        <li ng-repeat="server in $ctrl.mediaServers">
            <details>
                <summary>{{server.name}}</summary>
                <p ng-dblclick="$ctrl.browse(server.id)">
                    <!-- {{server | json}} >
                    <img ng-src="{{server.iconURL}}" alt="serverIcon" style="width:100px; height:100px; "/>
                </p>
                <div ng-repeat="obj in $ctrl.directories" ng-dblclick="$ctrl.browse(server.id, obj.directory)" style="display: inline-block; margin-right: 20px; margin-bottom: 20px;">
                    <img ng-src="images/folder.png" style="width:50px; height:50px; "/>
                    <label style="display: block;">{{obj.name}}</label>
                </div>
                <!-- media = {
                        serverId, date, title, icon, mediaId, 
                        creator, actors, genres, albumarturi, 
                        description, longdescription, 
                        ressource, class} 
                        -->

                <!-- loadMedia   : function(mediaRendererId, mediaServerId /*media.serverId*/, itemId /*(media.mediaId)*/) >

                <div ng-repeat="media in $ctrl.medias" ng-drag-data="{{media}}" data-allow-transform="true" ng-drag="true" style="display: inline-block; margin-right: 20px; margin-bottom: 20px;">
                    <img ng-src="{{media.icon}}" />
                    <label style="display: block; text-align: center;">{{media.title}}</label>
                </div> 

                <!-- TODO module : media(display) -->
                <!-- m1m-media-module></m1m-media-module>
            </details>
        </li>
    </ul-->
</section>