<div layout="column" style="height:100%;" ng-cloak>
	<section layout="row" flex>

		<md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('min-width:1000px')" md-whiteframe="4">

			<md-toolbar style="background-color:#19ad89;">
				<h3 class="md-toolbar-tools">Liste des Lecteurs UPnP/DLNA</h1>
			</md-toolbar>

			<md-content layout-padding>

				<div class="renderers" ng-repeat="renderer in $ctrl.mediaRenderers" ng-click="$ctrl.setRenderer(renderer.id, this)" ng-drop="true"
					ng-drop-success="$ctrl.loadMedia(renderer.id, $data.serverId, $data.mediaId)" ng-style="renderStyle">
					{{renderer.name}}
				</div>
				
			</md-content>

		</md-sidenav>

		<md-content flex layout-padding>

			<div layout="column">
				<!-- Serveur section-->
				<m1m-server-manager></m1m-server-manager>
			</div>

			<!-- player -->
			<div id="playerDiv" ng-cloak id="player-wrap" class="fixed-player">
				<!-- TODO : player buffer -->
				<!--div class="buffer" style="background-color:#c4c4c4; width:100%; height:1px;"></div>
				<div class="buffer" style="background-color:#ff538d;height:1px;"></div-->

				<!-- icons -->
				<!-- TODO : addFavorite -->
				<ng-md-icon id="favorite" icon="favorite" size="40" ng-click="$ctrl.print()"></ng-md-icon>
				<!-- TODO : fix timer -->
				<span id="currentMediaSpan">{{currentMediaData.title.__text}} 
					<!--timer ng-cloak countdown="mediaLength" autostart="true" interval="1000">-{{hours}}:{{minutes}}:{{seconds}}</timer-->
				</span>

				<ng-md-icon class="player_btn" icon="pause" ng-show="playing" size="40" ng-click="$ctrl.pause()"></ng-md-icon>
				<ng-md-icon class="player_btn" icon="play_arrow" ng-hide="playing" size="40" ng-click="$ctrl.play()"></ng-md-icon>
				<ng-md-icon id="player_stop" icon="stop" size="40" ng-click="$ctrl.stop()"></ng-md-icon>

				<ng-md-icon class="volumeBtn" icon="volume_up" ng-show="volume" size="30"></ng-md-icon>
				<ng-md-icon class="volumeBtn" icon="volume_off" ng-hide="volume" size="30"></ng-md-icon>
				<!-- setVolume slider -->
				<div id="volumeSliderDiv" ng-cloak layout>

					<md-slider flex md-discrete ng-model="volume" step="1" min="0" max="100" aria-label="volumeSetting" ng-change="$ctrl.setVolume(volume)"
						style="width:125px;">
					</md-slider>

				</div>
			</div>

			<div flex></div>

		</md-content>

	</section>

</div>