<div id="content">
	<!-- nav bar -->
	<md-nav-bar md-selected-nav-item="currentServer" nav-bar-aria-label="navigation links">
		<md-nav-item ng-repeat="server in $ctrl.mediaServers" md-nav-click="$ctrl.goto(server.id)">{{server.name}}</md-nav-item>
	</md-nav-bar>

	<!-- content div -->
	<div class="ext-content">
		<!-- Content For server <span>{{currentServerID}}</span-->
		<div id="divPath">
			<!-- homePath Btn -->
			<md-button ng-show="showHome" class="homePathBtn" ng-click="$ctrl.browse(currentServerID, true)">
				<ng-md-icon icon="home" size="30" style="fill:#ff4081;"></ng-md-icon>
			</md-button>
			<!-- path btns -->
			<md-button class="btnPath" ng-repeat="dir in listDirectories" ng-click="$ctrl.browse(currentServerID,false, dir.dirID)"><span class="directoryPathBtn">{{dir.name}}</span></md-button>
		</div>

		<br>

		<div class="directoriesDiv">

			<div class="directoriesDiv2" ng-repeat="obj in $ctrl.directories">
				<img class="folderImg" ng-dblclick="$ctrl.browse(currentServerID,false, obj.directory, obj.name)" ng-src="images/folder.png"
				/>
				<label class="folderName">{{obj.name}}</label>
			</div>

		</div>

		<div class="mediaDiv" ng-repeat="media in $ctrl.medias" ng-drag-data="{{media}}" data-allow-transform="true" ng-drag="true">

			<img class="mediaIcon" ng-src="{{media.icon}}" ng-click="$ctrl.openDescription($event, media)" />
			<label class="mediaTitle">{{media.title}}</label>

		</div>

	</div>
</div>